<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="/main.css">
    <script type="module" src="https://unpkg.com/spa-idom@0.0.5/dist/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eleventy SPA Demo</title>
  </head>
  <body>
    <div spa-app class="mx-auto max-w-xl">
      <div class="flex justify-between items-baseline p-10">
        <div class="text-3xl font-bold">spa-with-idom</div>
        <div class="text-xl">
          {% set tabs = collections.all | eleventyNavigation %}
          {% for tab in tabs %}
            {% if page.url == tab.url %}
              <span class="mx-4 font-bold">{{ tab.title  }}</span>
            {% else %}
              <a class="mx-4 hover:underline" href="{{ tab.url }}">{{ tab.title  }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="p-10 prose">
        {{ content | safe  }}
      </div>
      <div>
        <video
          class="block w-40 sm:w-80 fixed bottom-0 right-0"
          src="/dance.mp4"
          autoplay
          playsinline
          loop
          muted
        ></video>
      </div>
    </div>
    <div spa-loading style="position: fixed; top: 0; display:none"><span style="color: white; background-color: black">Loading...</span></div>
  </body>
</html>
